.navbar-nav .nav-item .nav-link.active {
  text-decoration: underline;
  text-decoration-thickness: 3px; /* Set the thickness of the underline */
  text-underline-offset: 6px; /* Set the distance between the text and underline */
  text-decoration-color: blue;
}
